<launch>

  <!-- =============================================================================== -->
  <!-- ================ Required for those set on the command line =================== -->
  <!-- =============================================================================== -->

  <!-- Set online to true if you use rosbag play or sensor stream -->
  <arg name="online" value="true" />

  <!-- =============================================================================== -->
  <!-- =========================== Set on the command line =========================== -->
  <!-- =============================================================================== -->
  
  <!-- I think this is just for logging, but could use more investigation-->
  <!-- Is used if autoInitialize is set to 0, but I don't think we want to
       use any ground truth information in the odometry process, even for
       initializing, since we are applying to a multi-robot alignment case. -->
  <arg name="gt_topic" default=""/> 

  <!-- Path to the rosbag that we will parse when running offline -->
  <arg name="rosbag_path" default="" unless="$(arg online)"/>

  <!-- Robot name (just used for making output log directory) -->
  <arg name="robot_name" default=""/>

  <!-- Unique integer id of this robot. Might effect Loop closures, so will set properly just in case -->
  <arg name="robot_id" default=""/>

  <!-- Used for:
     1. Determing output log directory (in Kimera-VIO-ROS/output_logs/<dataset_name>/)
     2. Loading parameters (from Kimera-VIO/params/<dataset_name>/)-->
  <arg name="dataset_name" default=""/>

  <!-- =============================================================================== -->
  <!-- ============= Set Arguments to pass to lower-level launch file ================ -->
  <!-- =============================================================================== -->

  <!-- Verbosity level for Google Logging -->
  <arg name="verbosity"    value="0" />

  <!-- See Kimera-VIO/src/pipeline/Pipeline.cpp for meaning -->
  <arg name="do_coarse_temporal_sync" value="false"/>
  <arg name="do_fine_temporal_sync" value="true"/> <!-- For now, instead of calculating it with Kaliber, try to estimated it with Kimera-VIO -->
  
  <!-- Set should_use_sim_time to true if you use rosbag with clock argument -->
  <arg name="should_use_sim_time" value="true"/>  

  <!-- Set log_output to true and KimeraVIO will log output of all modules to
       the log_output_path location. -->
  <arg name="log_output" value="true"/>
  <arg name="log_output_path" value="$(find kimera_vio_ros)/output_logs/$(arg dataset_name)/$(arg robot_name)" if="$(arg log_output)"/>

  <!-- Set to true and specify gt_topic if you want to log ground-truth data -->
  <arg name="log_gt_data" value="true"/>

  <!-- Use Loop Closure Detector and Pose Graph Optimization to try and get a good estimate -->
  <arg name="use_lcd"           value="true"/>
  
  <!-- I don't think we want to supplement Kimera-VIO with odometry from another source -->
  <arg name="use_external_odom" value="false"/>
  <arg name="external_odom_topic" value=""/>

  <!-- Appear to be enable visualization, though what kind I'm not sure exactly -->
  <!-- kimera_vio_ros.launch implies its a ROS visualization, but code seems to indicate otherwise -->
  <arg name="visualize" value="true"/>
  <arg name="use_rviz"  value="true"/> <!-- Attempt to use RViz -->

  <!-- Hercules has no second camera, so it has no topic on the right-->
  <arg name="right_cam_topic"    value=""/>

  <!-- Necessary topics -->
  <arg name="left_cam_topic"      value="/hercules_node/$(arg robot_name)/front_center_Scene/image"/>
  <arg name="imu_topic"           value="/hercules_node/$(arg robot_name)/imu/imu"/>

  <!-- No values for this since we're using MonoIMU -->
  <arg name="depth_cam_topic"     value=""/>

  <!-- Define frame values -->
  <arg name="odom_frame_id"       value="$(arg robot_name)"/>
  <arg name="base_link_frame_id"  value="$(arg robot_name)/Kimera-VIO/odom_local"/>
  <arg name="map_frame_id"        value="world"/>
  <arg name="left_cam_frame_id"   value="$(arg robot_name)/front_center_optical"/>

   <!-- Should be none, since we have no right camera, but put dummy value to avoid a crash -->
  <arg name="right_cam_frame_id"  value="n/a"/>

  <!-- Skip Stereo Dense Reconstruction, as Hercules only has a monocular camera -->
  <arg name="run_stereo_dense"     value="false"/>
  <group ns="stereo_gray" if="$(arg run_stereo_dense)">
    <node name="dense_stereo" pkg="image_undistort" type="dense_stereo_node" >
      <param name="input_camera_info_from_ros_params" value="true"/>
      <param name="first_camera_namespace"  value="cam0"/>
      <param name="second_camera_namespace" value="cam1"/>
      <param name="first_output_frame"      value="cam0"/>
      <param name="second_output_frame"     value="cam1"/>

      <param name="depth/use_sgbm"          value="true"/>
      <param name="depth/do_median_blur"    value="false"/>
      <param name="depth/use_mode_HH"       value="true"/>

      <param name="scale"                   value="1.0"/>
      <param name="process_every_nth_frame" value="1"/>
      <param name="publish_tf"              value="false"/>

      <rosparam file="$(find kimera_vio_ros)/cfg/calib/euroc_camchain.yaml"/>

      <remap from="raw/first/image"         to="/cam0/image_raw"/>
      <remap from="raw/second/image"        to="/cam1/image_raw"/>
      <remap from="raw/first/camera_info"   to="/cam0/camera_info"/>
      <remap from="raw/second/camera_info"  to="/cam1/camera_info"/>
    </node>
  </group>

  <!-- Hercules dataset has perfect depth imagery, so no need to mask anything. 
       Also, this may not be used for the MonoIMU case that we are doing, as I
       don't believe we are providing depth. -->
  <arg name="depth_image_mask" value=""/>

  <!-- Doesn't matter, as this parameter isn't used for MonoIMU -->
  <arg name="force_same_image_timestamp" value="true"/>    

  <!-- Unsure if this is used for MonoIMU, but leave false. We want to keep the 
       minimum point to a reasonable value, we can update the maximum distance 
       in FrontendParams.yaml in KimeraVIO. -->
  <arg name="lcd_disable_stereo_match_depth_check" value="false"/> 

  <!-- I feel we'd like the backend to output the full optimized state pose instead
       of just the incremental pose. Not sure why its false by default. I know whatever
       pose is passed here is used in the OpenCvVisualizer3D.cpp (as W_State_Blkf_.pose_),
       and can also be passed to the Mesher and LcdModule (Loop Closure Detection) -->
  <arg name="no_incremental_pose" value="true"/>

  <!-- =============================================================================== -->
  <!-- ======================= Pass to lower-level launch file ======================= -->
  <!-- =============================================================================== -->

  <!-- Launch actual pipeline -->
  <include file="$(find kimera_vio_ros)/launch/kimera_vio_ros.launch" pass_all_args="true"/>

  <!-- =============================================================================== -->
  <!-- ========== Set Parameters to overwrite those in lower launch file ============= -->
  <!-- =============================================================================== -->

  <!-- I believe this is the IMU constant biases, which is a good initialization guess for the initial biases -->
  <!-- For now, simply guessing as zero in order to avoid running a Kaliber process -->
  <rosparam param="gt_gyro_bias"> [0, 0, 0] </rosparam>
  <rosparam param="gt_accel_bias"> [0, 0, 0] </rosparam>

</launch>